doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title #{title} - Lexicon Tournament
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://code.jquery.com/jquery-1.6.2.min.js')  
    script( src='/scripts/jquery.bracket.min.js')
    link(rel='stylesheet', type='text/css', href='/scripts/jquery.bracket.min.css')
  body
    header
      h1 Project: Lexicon Tournament
    .container
      .main-content
        block content
      .sidebar
        block sidebar

    footer
      p Powered by jQuery Bracket, nodeJs, Express and Jade
